<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send all requests to index.php, except existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Deny access to hidden files (dotfiles) except .htaccess itself
<FilesMatch "^\.(?!htaccess)">
    Order Allow,Deny
    Deny from All
</FilesMatch>
