body {
	font-family: 'ArialNarrow';
	font-size:13px;
}
.footer{
	*display:table-footer-group;
	*width:100% !important;
	text-align:center;
	font-size:11px;
	
	*border:1px solid red;
	
	/*display: table-footer-group;*/ /*PER HALAMAN*/
	*display:inline-table; /*HALAMAN TERAKHIR, POSISI DIBAWAH KONTEN*/
	*position:relative; /*HALAMAN TERAKHIR, POSISI DIBAWAH KONTEN*/
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	*background:#F0F;
	
	width:100% !important;
	*width:400px !important;
	*margin:0 auto !important;
	
	padding-bottom:50px;
}
.tabel {
	border-collapse: collapse;
	width:100%;
	 font-size:11px;
}
.tabel th {
	text-align:center;
	font-weight:normal;
	padding:3px;
}
.tabel td {
	 border:1px solid black !important;
	 padding:3px;
}
.tabel td .kiri {
	 text-align:left;
}
.tabel td.tengah {
	 text-align:center;
}

.tabel-header {
	width:100%;
}
.judul {
	 text-align:center;
	 font-size:18px;
	 font-weight:bold;
	 text-decoration:underline;
	 margin-bottom:10px;
}
.judul-atas {
	text-align:left;
	font-size:30;
	font-weight:bold;
}
.alamat {
	color:red;
	text-align:left;
	font-size:14px;
	font-weight:normal;
}
.ttd-jabatan {
	font-weight:normal;
	text-align:center;
}
.ttd-nama {
	font-weight:bold;
	text-align:center;
	border-width:1px;	
    border-bottom-style:solid;
}
.top-atas{
	vertical-align:top;
}

@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}