Sbody{
	font-family:Arial;
}
table {
	font-family:Arial;
    /*border-collapse: collapse;*/
    width: 100%;
	/*border:1px solid black;*/
}

th {
    text-align: center;
    padding: 8px;
	/*border:1px solid black;*/
}

td {
	text-align: left;
    padding: 8px;
	/*border:1px solid black;*/
}
tr:nth-child(even){*background-color: #f2f2f2}

th {
    color: black;
	/*border:1px solid black;*/
}

th.unit {
    background-color: #FFFF00;
    color: black;
	/*border:1px solid black;*/
}

tr.header{
	*background-color:#FFCC00;
	background-color:#555555;
	/*border:1px solid black;*/
}
tr.header td{
	color:#FFF;
}
tr.header-unit{
	background-color:#00B0F0;
	/*border:1px solid black;*/
}
table.rkm-realisasi-ttd td, table.rkm-realisasi-ttd th{
	font-size: 12px;
	width: 750px;
	/*border:1px solid white;*/
}

/****/
table.tabel-pernyataan{
	/*border-collapse:collapse;*/
	width:100%;
	/*border:none;*/
}
table.tabel-pernyataan td{
	/*border:none;*/
}


/****/
.area-ttd-bawah{
	*clear:both;
	/**border:2px solid cyan;*/
	float:right !important;
	width: 35%;

	text-align:right;
}
.area-ttd-bawah .tanggal-tempat{
	/**border:1px solid red;*/
}
.area-ttd-bawah .tanggal-tempat .tanggal{
	text-align:center;
}
.area-ttd-bawah .tanggal-tempat .tempat{
	text-align:center;
}
.area-ttd-bawah .ttd,
.area-ttd-bawah .nama,
.area-ttd-bawah .jabatan{
	/**border:2px solid red;*/
	text-align:center;
}
.area-ttd-bawah .nama{
	text-decoration:underline;
	font-weight:bold;
}