/** BUTTON **/
/*.btn-simpan, 
.btn-tambah,
.btn-batal,
.btn-lanjut,
.btn-kembali,
.btn-ubah,
.btn-edit{
	height:40px;
	line-height:40px;
	padding-left:20px;
	padding-right:20px;
	border:none;
	
	display:inline-block;
	font-size:16px;
	color:rgba(255,255,255,0.6);
	text-transform:uppercase;
	
	margin:6px;
}
.btn-simpan:hover,
.btn-tambah:hover,
.btn-batal:hover,
.btn-lanjut:hover,
.btn-kembali:hover,
.btn-ubah:hover,
.btn-edit:hover{
	color:rgba(255,255,255,0.9);
	text-decoration:none;
}
.btn-simpan, .btn-tambah{
	background-color: #2dcb35; background: url(images/linear_bg_2.png); background-repeat: repeat-x; 	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2dcb35), to(#1ea524)); 	
	background: -webkit-linear-gradient(top, #2dcb35, #1ea524); 	
	background: -moz-linear-gradient(top, #2dcb35, #1ea524); 	
	background: -ms-linear-gradient(top, #2dcb35, #1ea524); 	
	background: -o-linear-gradient(top, #2dcb35, #1ea524);
}
.btn-simpan:before{	font-family:"FontAwesome";	content:"\f00c";	margin-right:10px; }
.btn-tambah:before{	font-family:"FontAwesome";	content:"\f067";	margin-right:10px; }
.btn-batal{
	background-color: #cf2b32; background: url(images/linear_bg_2.png); background-repeat: repeat-x; 	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cf2b32), to(#a51e24)); 	
	background: -webkit-linear-gradient(top, #cf2b32, #a51e24); 	
	background: -moz-linear-gradient(top, #cf2b32, #a51e24); 	
	background: -ms-linear-gradient(top, #cf2b32, #a51e24); 	
	background: -o-linear-gradient(top, #cf2b32, #a51e24);
}
.btn-batal:before{	font-family:"FontAwesome";	content:"\f00d";	margin-right:10px; }
.btn-lanjut{
	background-color: #005998; background: url(images/linear_bg_2.png); background-repeat: repeat-x; 	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005998), to(#00487b)); 	
	background: -webkit-linear-gradient(top, #005998, #00487b); 	
	background: -moz-linear-gradient(top, #005998, #00487b); 	
	background: -ms-linear-gradient(top, #005998, #00487b); 	
	background: -o-linear-gradient(top, #005998, #00487b);
}
.btn-lanjut:after{
	font-family:"FontAwesome";
	content:"\f105";
	margin-left:10px;
}
.btn-kembali{	
	background-color: #005998; background: url(images/linear_bg_2.png); background-repeat: repeat-x; 	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005998), to(#00487b)); 	
	background: -webkit-linear-gradient(top, #005998, #00487b); 	
	background: -moz-linear-gradient(top, #005998, #00487b); 	
	background: -ms-linear-gradient(top, #005998, #00487b); 	
	background: -o-linear-gradient(top, #005998, #00487b);
}
.btn-kembali:before{	font-family:"FontAwesome";	content:"\f104";	margin-right:10px; }

.btn-ubah, .btn-edit{
	background-color: #525252; background: url(images/linear_bg_2.png); background-repeat: repeat-x; 	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#525252), to(#333)); 	
	background: -webkit-linear-gradient(top, #525252, #333); 	
	background: -moz-linear-gradient(top, #525252, #333); 	
	background: -ms-linear-gradient(top, #525252, #333); 	
	background: -o-linear-gradient(top, #525252, #333);
}
.btn-ubah:before,
.btn-edit:before{	font-family:"FontAwesome";	content:"\f040";	margin-right:10px; }
*/

/****/
/*.btn-kecil{
	height:26px;
	line-height:26px;
	padding-left:10px;
	padding-right:10px;
	*border:none;
	
	font-size:14px;
	color:#333;
	
	background:rgba(0,0,0,0.1);
	border:1px solid rgba(255,255,255,0.8);
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	cursor:pointer;
	font-weight:normal;
}*/

.btn,
.btn-simpan, 
.btn-tambah,
.btn-batal,
.btn-lanjut,
.btn-kembali,
.btn-ubah,
.btn-edit,
.btn-cetak,
.btn-daftar,
.btn-daftar-ulang,
.btn-upload,
.btn-validasi{
	background-color: #1e6695; background: url(images/linear_bg_2.png); background-repeat: repeat-x; 	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1e6695), to(#135077)); 	
	background: -webkit-linear-gradient(top, #1e6695, #135077); 	
	background: -moz-linear-gradient(top, #1e6695, #135077); 	
	background: -ms-linear-gradient(top, #1e6695, #135077); 	
	background: -o-linear-gradient(top, #1e6695, #135077);
	
	color:rgba(255,255,255,0.7);
	
	height:34px !important;
	line-height:34px !important;
	padding-left:20px;
	padding-right:20px;
	border:none;
	
	display:inline-block;
	font-size:16px;
	color:rgba(255,255,255,0.6);
	text-transform:uppercase;
		
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	margin:6px 3px;
}
.btn:hover,
.btn-simpan:hover, 
.btn-tambah:hover,
.btn-batal:hover,
.btn-lanjut:hover,
.btn-kembali:hover,
.btn-ubah:hover,
.btn-edit:hover,
.btn-cetak:hover,
.btn-daftar:hover,
.btn-daftar-ulang:hover,
.btn-upload:hover,
.btn-validasi:hover{
	*background:#333;
	color:rgba(255,255,255,0.9);
	text-decoration:none;
}

/****/
.btn-lookup{
	background:#f4f4f4;
	color:rgba(0,0,0,0.5);
	border:1px solid rgba(0,0,0,0.2);
	
	height:24px !important;
	line-height:24px !important;
	
	font-size:12px;
	cursor:pointer;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	padding-left:15px;
	padding-right:15px;
}
.btn-lookup:hover{
	background:#FFF;
	color:rgba(0,0,0,0.8);
}

/****/
.btn-aksi{
	display:inline-block;
	
	*background:rgba(0,0,0,0.5);
	*background:#F09330;
	*background:#525252;
	*color:rgba(255,255,255,0.7);
	
	width:18px;
	height:18px;
	line-height:15px;
	text-align:center;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	border:1px solid #d9d9d9;
	background:#FFF;
}
.btn-aksi:hover{
	*color:rgba(255,255,255,0.9);
}

.btn-aksi i.fa-trash{	color:#a42421; }
.btn-aksi i.fa-pencil{	color:#ef9330; }






