@font-face {
	font-family: 'ApercuRegular';
	src:url('../fonts/Aper%C3%A7u/apercupro-regular.eot');
	src: url('../fonts/Aper%C3%A7u/apercupro-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Aper%C3%A7u/apercupro-regular.woff') format('woff'),
	url('../fonts/Aper%C3%A7u/apercupro-regular.ttf') format('truetype'),
	url('../fonts/Aper%C3%A7u/apercupro-regular.svg#ApercuRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ApercuBold';
	src:url('../fonts/Aper%C3%A7u/apercupro-bold.eot');
	src: url('../fonts/Aper%C3%A7u/apercupro-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Aper%C3%A7u/apercupro-bold.woff') format('woff'),
	url('../fonts/Aper%C3%A7u/apercupro-bold.ttf') format('truetype'),
	url('../fonts/Aper%C3%A7u/apercupro-bold.svg#ApercuBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ApercuLight';
	src:url('../fonts/Aper%C3%A7u/apercupro-light.eot');
	src: url('../fonts/Aper%C3%A7u/apercupro-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Aper%C3%A7u/apercupro-light.woff') format('woff'),
	url('../fonts/Aper%C3%A7u/apercupro-light.ttf') format('truetype'),
	url('../fonts/Aper%C3%A7u/apercupro-light.svg#ApercuLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura-Condensed';
	src:url('../fonts/futura-condensed.eot');
	src: url('../fonts/futura-condensed.eot?#iefix') format('embedded-opentype'),
	url('../fonts/futura-condensed.woff') format('woff'),
	url('../fonts/futura-condensed.ttf') format('truetype'),
	url('../fonts/futura-condensed.svg#Futura-Condensed') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* TTF type */
@font-face {
	/*font-family: 'Futura-Condensed';
	src: url('../fonts/Futura/Futura-Condensed.otf');*/
}





